<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Registro'}) %>
<link rel="stylesheet" href="/css/registro.css">
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

    <!-- todos los productos -->
    <form action="/usuarios/register" method="post">

    <section class="formulario_section">
    <div class="nombre_div">
    <label for="first_name">Nombre:</label>
    <input id="cuadro_texto" type="text" name="first_name" id="first_name" value="<%= locals.old && old.first_name %>">
    <% if (locals.errors && errors.first_name) { %>
    <p class="feedback"><%= errors.first_name.msg %></p>
    <% } %>
    </div>

    <div class="apellido_div">
    <label for="last_name">Apellido:</label>
    <input id="cuadro_texto" type="text" name="last_name" id="last_name" value="<%= locals.old && old.last_name %>">
    <% if (locals.errors && errors.last_name) { %>
    <p class="feedback"><%= errors.last_name.msg %></p>
    <% } %>
    </div>

    <div class="email_div">
    <label for="email">Correo electrónico:</label>
    <input id="cuadro_texto" type="email" name="email" id="email" value="<%= locals.old && old.email %>">
    <% if (locals.errors && errors.email) { %>
    <p class="feedback"><%= errors.email.msg %></p>
    <% } %>
    </div>

    <div class="contraseña_div">
    <label for="password">Contraseña:</label>
    <input id="cuadro_texto" type="password" name="password" id="password" value="<%= locals.old && old.email %>">
    <% if (locals.errors && errors.password) { %>
    <p class="feedback"><%= errors.password.msg %></p>
    <% } %>
    </div>

    <div class="boton_registro_div">
    <a href="/"><input id="boton_enviar" type="submit" value="Registrarse"></a>
    </div>
    </section>
    </form>
    <!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>